.hex {
    position: absolute;
    background-image: url("hex.png");
    background-size: 86px;
    background-repeat: no-repeat;
    background-position: center;
    width: 86px;
    height: 100px;
}

.hide {
    display: none;
}
